body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgba(51, 216, 183, 0.598) 0%, rgba(143, 129, 212, 0.434) 100%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;

}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
